* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #17233D;
}

a { 
    text-decoration: none;
    color: #17233D;
}

button {
    background-color: #6FBF44;
    color: white;
    border: 1px;
    width: 124px;
    height: 47px;
    border-radius: 6px;
    font-size: 16px; 
    cursor: pointer;
  
}

img {
    width: 569px;
    margin-top: -274px;
   margin-left: 121px; 
   position: absolute;
   
   
}


.teta {
   margin-left: 55%;
   height: 164px;
   top: 146px;
   position: relative;
   
   
}


p {
    width: 450px;
}

.ola {
    margin-left: 42px;
    margin-top: 47px;
    word-spacing: 34px;
}

.j {
    color: #6FBF44;
    font-size: 18px;
    left: 843px;
    top: 98px;
    position: relative;
    
}

h1 { 
    width: 490px;
    font-size: 60px;
}


@media screen and (max-width: 900px){
    

    .ta {
        display: none;
    }
    .j {
        left: 19px;
      
    }
    button {
        display: block;
        margin: 20px auto;
        
    }

    h1 {
        
        margin-top: 20px;
        text-align: center;
    }


    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    p {
        left: -196px;
    }


    .j {
        text-align: center;
    font-size: 26px;
    }

}